<h1>Listing blogposts</h1>

<%= link_to 'Previous page', { :page => @blogpost_pages.current.previous } if @blogpost_pages.current.previous %>
<%= link_to 'Next page', { :page => @blogpost_pages.current.next } if @blogpost_pages.current.next %>

<%= partial :entry, :with => @blogposts %>

<%= link_to 'Previous page', { :page => @blogpost_pages.current.previous } if @blogpost_pages.current.previous %>
<%= link_to 'Next page', { :page => @blogpost_pages.current.next } if @blogpost_pages.current.next %>

<br />

<%= link_to 'New blogpost', :action => 'new' %>
