<h1>News Archive</h1>

<%= link_to 'Previous page', "/blogposts/page/#{@previous_page}" if @previous_page %>
<%= link_to 'Next page', "/blogposts/page/#{@next_page}" if @next_page %>

<%= partial :entry, :with => @blogposts_to_show %>

<%= link_to 'Previous page', "/blogposts/page/#{@previous_page}" if @previous_page %>
<%= link_to 'Next page', "/blogposts/page/#{@next_page}" if @next_page %>
