<h1>New story</h1>

<%= form_for @story, :action => "/users/create_story/#{@authinfo[:user].id}"  do -%>
  <%= error_messages_for :story %>
  <%= partial 'stories/form' -%>
  <%= submit_tag "Create Story" =%>
<% end =%>

<%= link_to 'Back', "/users/show/#{@authinfo[:user].id}" -%>
