<p>Username: <%= @user.username %> </p>
<p class="timestamp"> Member since <%= Time.at(@user.user_regdate) %>
<p><%= new_story_link %></p>
<% unless @user.stories.empty? -%>
<p> Author of <%= @user.stories.length %> <% if @user.stories.length > 1 %>stories: <% else %> story: <% end %></p>
<ul>
  <% @user.stories.each do |s| -%>
  <% last_chapter = s.chapters.find(:first, :order => "date_released desc", :conditions => "status = 'released'") -%>
  <% if last_chapter -%>
  <%= "<li> #{s.title} (#{s.chapters.length} chapters, #{s.chapters.inject(0) { |i,k| i = i + k.words}} words, last updated on #{last_chapter.date_released})" %> </li>
  <% end -%>
  <% end -%>
</ul>
<% end -%>
