<p>Username: <%= @user.username %> </p>
<p class="timestamp"> Member since <%= Time.at(@user.user_regdate) %>
<p><%= new_story_link %></p>
<% unless @user.stories.empty? -%>
<p> Author of <%= @user.stories.length %> <% if @user.stories.length > 1 %>stories: <% else %> story: <% end %></p>
<ul>
  <% stories_list.each do |s| -%>
  <%= s -%>
  <% end -%>
</ul>
<% end -%>
