<h1>Editing Comment</h1>

<%= form_for @pcomment, :action => resource(@pcomment) do -%>
  <%= partial :form, :with => @pcomment -%>
  <%= submit_tag 'Edit' -%>
<% end =%>

<%= link_to 'Show', "/pcomments/show/#{@pcomments.id}" %> |
<%= link_to 'Back', '/pcomments/list' %>
