<h1>Listing paragraph comments</h1>

<table>
  <tr>
  <% for column in Pcomment.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>

<% for pcomment in @pcomment %>
  <tr>
  <% for column in Pcomment.content_columns %>
    <td><%=h pcomment.send(column.name) %></td>
  <% end %>
  <% show_anchor = "+" + ["p",pcomment.paragraph_id] -%>
  <% show_link = "/chapters/show/#{Pcomment.chapterID(pcomment.id)#{show_anchor}" -%>
    <td><%= link_to 'Show', show_link %></td>
    <td><%= link_to 'Edit', "/paragraphs/edit/#{pcomment.id}" %></td>
    <td><%= link_to 'Delete', "/paragraphs/destroy/#{pcomment.id}", :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>
