<h1>Editing story</h1>

<%= form_for @story, :action => resource(@story) do -%>
  <%= partial :form %>
  <%= submit_tag 'Edit' %>
<% end =%>

<%= link_to 'Show Story', "/stories/show/#{@story.id}" %> |
<%= link_to 'Story List', '/stories/list' %>
