<h1>Editing universe</h1>

<%= form_for @universe, :action => resource(@universe) do %>
  <%= partial :form, :with => @universe -%>
  <%= submit_tag 'Edit' -%>
<% end =%>

<%= link_to 'Show Universe', "/universes/show/#{@universe.id}" %> |
<%= link_to 'Universe list', "/universes/list" %>
