        <form action="">
                <input type="hidden" id="comment_count_<%= para.id %>" value="<%= para.total_comments %>" />
                <input type="hidden" id="unread_comment_count_<%= para.id %>" value="<%= para.unread_comments(@authinfo[:user]) %>" />
                <input type="hidden" id="unacknowledged_comment_count_<%= para.id %>" value="<%= para.unacknowledged_comments %>" />
        </form>
        <%= comments_toggle(para) %>
        <p><%= paragraph_edit_link(para) %></p>
        <div class="comments_display" id="comments<%= para.id %>" <%= display_style %>>
                <%= all_comment_movement_links(para) %>
                <div class="comments_body" id="comments_body<%= para.id %>">
                        <%= partial 'chapters/pcomm', :with => para.pcomments -%>
                </div>
                <!-- end comments_body -->
        <p class="comment_body_paragraph comment_link"><%= add_comment_link(para) %>
        <a href="#<%= ["pcomment",para.id] %>" onclick="Element.toggle('comments<%= para.id %>')"> Hide Comments </a></p>
        </div>

