        <% can_edit = (@authinfo[:user] and @authinfo[:user].has_story_permission(@chapter.story,'author') ) -%>
        <%# if display_style.nil? display_style = ""  -%>
        <form action="">
                <input type="hidden" id="comment_count_<%= para.id %>" value="<%= para.total_comments %>" />
                <input type="hidden" id="unread_comment_count_<%= para.id %>" value="<%= para.unread_comments(@authinfo[:user]) %>" />
                <input type="hidden" id="unacknowledged_comment_count_<%= para.id %>" value="<%= para.unacknowledged_comments %>" />
        </form>
        <a name="<%= ["pcomment",para.id] %>" onclick="Element.toggle('comments<%= para.id %>')">&#182; (<%= para.total_comments %> comments, <%= para.unread_comments(@authinfo[:user])  %> unread)</a>
        <p><%= link_to_remote 'Edit this paragraph', { :url => "#{index_url(StoryHost(para.chapter.story))}paragraphs/edit/#{para.id}", :update => "parabody#{para.id}" }, {:href => "#{index_url(StoryHost(para.chapter.story))}paragraphs/edit/#{para.id}"} if can_edit -%> </p>
        <div class="comments_display" id="comments<%= para.id %>" <%= display_style %>>
<% if can_edit and para.total_comments > 0 %>
           <%= %Q|<span class="comments_up" title="Move comments to previous paragraph"><a href="/paragraphs/move_comments_prev/#{para.id}" class="comments_up">&uarr;</a></span>| %>
           <%= %Q|<span class="comments_down" title="Move comments to next paragraph"><a href="/paragraphs/move_comments_next/#{para.id}" class="comments_down">&darr;</a></span>| %>
<% end -%>
                <div class="comments_body" id="comments_body<%= para.id %>">
                        <%= partial 'chapters/pcomm', :with => para.pcomments -%>
                </div>
                <!-- end comments_body -->
        <p class="comment_body_paragraph comment_link"><%= link_to_remote 'Comment on this paragraph',{ :url => "#{index_url(StoryHost(para.chapter.story))}pcomments/new/?paragraph_id=#{para.id}", :update => "comments_body#{para.id}"}, {:href => "#{index_url(StoryHost(para.chapter.story))}pcomments/new/?paragraph_id=#{para.id}"} if @authinfo[:user].username -%>
        <a href="#<%= ["pcomment",para.id] %>" onclick="Element.toggle('comments<%= para.id %>')"> Hide Comments </a></p>
        </div>

