<div class="paragraph">
  <a name="<%= ["p",para.id] %>"></a>
  <%= partial 'parabody', :with => para -%>
  <!-- end parabody -->
  <% if action_name == 'show_draft' -%>
        <div class="comments comments_display <%= comment_denotation_class(para) %>" id="comment_block_<%= para.id %>" >
        <% display_style = 'style="display: none"' -%>
          <%= partial 'comment_block', { :para => para, :display_style => display_style } -%>
        </div>
        <!-- end comments_div -->
        <!-- end comments -->
  <% end -%>
</div>
<!-- end paragraph -->
