<div class="paragraph">
  <a name="<%= ["p",para.id] %>"></a>
<% cache("show#paragraph_#{para.id}") do -%>
  <div class="parabody" id="<%= ["parabody",para.id] %>">
    <p><%= para.body %></p>
  </div>
<% end -%>
  <!-- end parabody -->
  <% if action_name == 'show_draft' -%>
        <div class="comments comments_display <%= comment_denotation_class(para) %>" id="comment_block_<%= para.id %>" >
          <%= render :partial => 'comment_block', :locals => { :para => para, :display_style => 'style="display: none"' } -%>
        </div>
        <!-- end comments_div -->
        <!-- end comments -->
  <% end -%>
</div>
<!-- end paragraph -->
