<%= markup_comment(pcomm)%>
   <div class="commentposted">
     Posted at <%= pcomm.created_at %> by <%= pcomm.username %>.<br />
<%= "Acknowledged by #{pcomm.acknowledged}<br />" unless pcomm.acknowledged.blank? -%>
<%= comment_actions(pcomm) -%>
     <br />
  </div>

