<h1>Confirm Delete</h1>
<%= form_for @paragraph, :action => "/paragraphs/destroy/#{@paragraph.id}" do -%>
    <p><strong>Are you sure you want to delete this paragraph?</strong></p>
    <p><%= submit_tag "Yes" %> <%= link_to "NO", "chapters/show_draft/#{@paragraph.chapter.id}#p#{@paragraph.id}" %></p>
<% end =%>


<%= partial 'chapters/parabody', :with => @paragraph %>

<hr/>

<h2>Comments</h2>

<%= partial 'chapters/pcomm', :with => Pcomment.listForPara(@paragraph.id) %>
