<h1>Listing paragraphs</h1>

<table>
  <tr>
  <% for column in Paragraph.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>

<% for paragraphs in @paragraphs %>
  <tr>
  <% for column in Paragraph.content_columns %>
    <td><%=h paragraphs.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', "/paragraphs/show/#{paragraphs.id}" %></td>
    <td><%= link_to 'Edit', "/paragraphs/edit/#{paragraphs.id}" %></td>
    <td><%= link_to 'Destroy', "/paragraphs/destroy/#{paragraphs.id}", :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New paragraphs', '/paragraphs/new' %>
